.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f9f9f9
}
.goodsrow0 {
  display: flex;
  margin-left: 7.174231332357247vw;
  margin-top: 41.17647058823529vh;
  width: 85.50512445095168vw;
  flex-wrap: wrap
}
.style64 {
  background-color: #fff;
  border-left: .07320644216691069vw solid #707070;
  border-right: .07320644216691069vw solid #707070;
  border-top: .07320644216691069vw solid #707070;
  border-bottom: .07320644216691069vw solid #707070;
  margin-left: 0;
  margin-top: 0;
  width: 19.765739385065885vw;
  min-width: 180px;
  height: 66.69106881405564vw;
  z-index: 63
}
.goodsrow0col1,
.style1 {
  display: flex;
  width: 15.885797950219619vw
}
.goodsrow0col1 {
  margin-left: 2.1961932650073206vw;
  margin-top: 5.124450951683748vw;
  min-width: 144.66666666666666px;
  flex-direction: column;
  height: 64.12884333821377vw;
  justify-content: space-between
}
.style1 {
  background-color: #fff;
  height: 21.37628111273792vw;
  z-index: 0;
  justify-content: center
}
.goodsrow0col1container0col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style3 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 2
}
.style2 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 1
}
.style13 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 12;
  justify-content: center
}
.goodsrow0col1container4col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style15 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 14
}
.style14 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 13
}
.style22 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 21
}
.goodsrow0col1container7col0 {
  display: flex;
  margin-left: 0;
  margin-top: .07320644216691069vw;
  width: 13.689604685212299vw;
  height: 19.91215226939971vw;
  flex-direction: column
}
.style46 {
  background-color: #5680e2;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 3.1478770131771596vw;
  height: 1.7569546120058566vw;
  z-index: 45;
  align-items: center;
  justify-content: center;
  border-radius: 0 .8784773060029283vw .8784773060029283vw 0
}
.style47 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 46
}
.style24 {
  object-fit: cover;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0248901903367496vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 23
}
.style23 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-left: 1.2219899569912152vw;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 22
}
.goodsrow0col2,
.style4 {
  display: flex;
  width: 15.885797950219619vw
}
.goodsrow0col2 {
  margin-left: 0;
  margin-top: 5.124450951683748vw;
  min-width: 144.66666666666666px;
  flex-direction: column;
  height: 64.12884333821377vw;
  justify-content: space-between
}
.style4 {
  background-color: #fff;
  height: 21.37628111273792vw;
  z-index: 3;
  justify-content: center
}
.goodsrow0col2container1col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style6 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 5
}
.style5 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 4
}
.style16 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 15;
  justify-content: center
}
.goodsrow0col2container5col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style18 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 17
}
.style17 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 16
}
.style25 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 24;
  justify-content: center
}
.goodsrow0col2container8col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style27 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 26
}
.style26 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 25
}
.goodsrow0col3,
.style7 {
  display: flex;
  width: 15.885797950219619vw
}
.goodsrow0col3 {
  margin-left: 0;
  margin-top: 5.124450951683748vw;
  min-width: 144.66666666666666px;
  flex-direction: column;
  height: 64.12884333821377vw
}
.style7 {
  background-color: #fff;
  margin-top: 0;
  height: 21.37628111273792vw;
  z-index: 6;
  justify-content: center
}
.goodsrow0col3container2col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style9 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 8
}
.style8 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 7
}
.style48 {
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
  display: flex;
  margin-top: 0;
  width: 15.885797950219619vw;
  height: 25.109809663250367vw;
  z-index: 47
}
.goodsrow0col3container16col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 24.011713030746705vw;
  flex-direction: column
}
.style56 {
  background-color: #ef4317;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 3.22108345534407vw;
  height: 1.7569546120058566vw;
  z-index: 55;
  align-items: center;
  justify-content: center;
  border-radius: 0 .8784773060029283vw .8784773060029283vw 0
}
.style57 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: .8784773060029283vw;
  z-index: 56
}
.style55 {
  object-fit: cover;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 54
}
.goodsrow0col3container16col0row2 {
  display: flex;
  margin-left: 1.303453571101757vw;
  margin-top: .36603221083455345vw;
  width: 6.383151365757687vw;
  height: .808117085983254vw;
  justify-content: space-between
}
.style50,
.style51,
.style52,
.style53,
.style54 {
  width: .8434826249084919vw;
  height: .808117085983254vw;
  z-index: 49
}
.style51,
.style52,
.style53,
.style54 {
  z-index: 51
}
.style51,
.style53,
.style54 {
  z-index: 50
}
.style53,
.style54 {
  z-index: 52
}
.style54 {
  z-index: 53
}
.style49,
.style62 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: .9516837481698389vw;
  margin-left: 1.2219899569912152vw;
  margin-top: .8024246416887811vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 48
}
.style62 {
  color: #979797;
  font-size: 1.0248901903367496vw;
  font-weight: 700;
  margin-left: 1.2445095168374818vw;
  margin-top: .7320644216691069vw;
  width: 12.079062957540264vw;
  z-index: 61
}
.style63 {
  background-color: #979797;
  border-left: .07320644216691069vw solid #979797;
  border-right: .07320644216691069vw solid #979797;
  border-top: .07320644216691069vw solid #979797;
  border-bottom: .07320644216691069vw solid #979797;
  margin-left: 5.89311859443631vw;
  margin-top: 19.509516837481698vw;
  width: 3.8799414348462666vw;
  height: 0;
  z-index: 62
}
.goodsrow0col3container16col0row5 {
  display: flex;
  margin-left: 1.2445095168374818vw;
  margin-top: 1.0980966325036603vw;
  width: 11.932650073206442vw;
  height: 2.9282576866764276vw
}
.style58 {
  background-color: #ff8e0a;
  margin-left: 0;
  width: 7.906295754026354vw;
  height: 2.9282576866764276vw;
  z-index: 57;
  border-radius: 1.4641288433382138vw
}
.style28,
.style60 {
  background-color: #fff
}
.style60 {
  border-left: .07320644216691069vw solid #e2e2e2;
  border-right: .07320644216691069vw solid #e2e2e2;
  border-top: .07320644216691069vw solid #e2e2e2;
  border-bottom: .07320644216691069vw solid #e2e2e2;
  margin-left: 1.0980966325036603vw;
  border-radius: 50%;
  width: 2.9282576866764276vw;
  height: 2.9282576866764276vw;
  z-index: 59
}
.style28 {
  display: flex;
  margin-top: -3.733528550512445vw;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 27
}
.goodsrow0col3container9col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: .43923865300146414vw;
  width: 13.689604685212299vw;
  height: 19.546120058565155vw;
  flex-direction: column
}
.style30 {
  object-fit: cover;
  margin-left: 0;
  margin-top: .6588579795021962vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 29
}
.style59 {
  color: #fff;
  font-family: roboto-1,serif;
  font-size: 1.0248901903367496vw;
  font-weight: 700;
  margin-left: 1.5373352855051245vw;
  margin-top: 0;
  z-index: 58
}
.style61 {
  margin-left: 3.3674963396778916vw;
  margin-top: .21961932650073207vw;
  width: 1.2445095168374818vw;
  height: 1.0516500403207358vw;
  z-index: 60
}
.style29 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-left: .1238933244875549vw;
  margin-top: 4.612005856515373vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 28
}
.goodsrow0col4,
.style10 {
  display: flex;
  width: 15.885797950219619vw
}
.goodsrow0col4 {
  margin-left: 0;
  margin-top: 5.124450951683748vw;
  min-width: 144.66666666666666px;
  flex-direction: column;
  height: 64.12884333821377vw;
  justify-content: space-between
}
.style10 {
  background-color: #fff;
  height: 21.37628111273792vw;
  z-index: 9;
  justify-content: center
}
.goodsrow0col4container3col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style12 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 11
}
.style11 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 10
}
.style19 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 18;
  justify-content: center
}
.goodsrow0col4container6col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style21 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 20
}
.style20 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 19
}
.style31 {
  background-color: #fff;
  display: flex;
  width: 15.885797950219619vw;
  height: 21.37628111273792vw;
  z-index: 30;
  justify-content: center
}
.goodsrow0col4container10col0 {
  display: flex;
  margin-left: 1.0980966325036603vw;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 18.887262079062957vw;
  flex-direction: column
}
.style33 {
  object-fit: cover;
  margin-top: 0;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 32
}
.style32 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 31
}
.goodsrow1 {
  display: flex;
  margin-left: 29.136163982430453vw;
  margin-top: 5.147058823529411vh;
  width: 63.543191800878475vw;
  flex-wrap: wrap
}
.style34 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 15.885797950219619vw;
  min-width: 144.66666666666666px;
  height: 21.37628111273792vw;
  z-index: 33;
  align-items: center;
  flex-direction: column
}
.style36 {
  object-fit: cover;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 35;
  align-self: center
}
.style35 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.44182697257046vw;
  height: 1.2445095168374818vw;
  z-index: 34;
  align-self: center
}
.style37 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 15.885797950219619vw;
  min-width: 144.66666666666666px;
  height: 21.37628111273792vw;
  z-index: 36;
  align-items: center;
  flex-direction: column
}
.style39 {
  object-fit: cover;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 38;
  align-self: center
}
.style38 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 37;
  align-self: center
}
.style40 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 15.885797950219619vw;
  min-width: 144.66666666666666px;
  height: 21.37628111273792vw;
  z-index: 39;
  align-items: center;
  flex-direction: column
}
.style42 {
  object-fit: cover;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 41;
  align-self: center
}
.style41 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 40;
  align-self: center
}
.style43 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 15.885797950219619vw;
  min-width: 144.66666666666666px;
  height: 21.37628111273792vw;
  z-index: 42;
  align-items: center;
  flex-direction: column
}
.style45 {
  object-fit: cover;
  margin-top: 1.0980966325036603vw;
  width: 13.689604685212299vw;
  height: 13.689604685212299vw;
  z-index: 44;
  align-self: center
}
.style44 {
  color: #303030;
  font-family: roboto-1,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-top: 3.953147877013177vw;
  width: 13.441835908903734vw;
  height: 1.2445095168374818vw;
  z-index: 43;
  align-self: center
}
.breakpoint-0 {
  display: block
}